/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
	background-color: #333333;
	margin: 0;
	padding: 0;
	height: 100%;
}

#seite {
    text-align: left;    /* Seiteninhalt wieder links ausrichten */
    margin: 0;      /* standardkonforme horizontale Zentrierung */
    width: 100%;
    padding: 0;
    background-color: #330000;
    border: 2px ridge silver;
	  min-height: 100%; /* Mindesthöhe für moderne Browser */
	  height:auto !important; /* Important Regel für moderne Browser */ 
}


#news {
/*  float: right;
  width: 45%;
  height: 100%;
  padding-right: 10px;
  margin-right: 0;
  margin-left: auto;*/
  position:absolute;
  bottom:3em;
  width:49%;
  left: 0;
  height:47%;
  background-color: #CC6666;
}

#newsframe {
  width: 100%;
  height: 100%;
}

#auflistung {
/*  width: 50%;
  min-height: 50%;
  max-height: 50%;
  background-color:#00FF00;
  margin-right: auto;
  margin-left: 0;*/
  position:absolute;
  left: 0;
  width: 38%;
  height: 45%;
  background-color: #FFFFCC;
}
#wikipedia {
  position:absolute;
  bottom: 3em;
  right: 0;
  width: 49%;
  height: 47%;
  background-color: #663333;
 }
#wikiframe {
  width: 100%;
  height: 100%;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:2em;
    background-color: #D8D8D8;
    color: black;
 }